@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #182f3f;
  color: #fff;
}

html {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  width: 40%;
  /* padding: 20px; */
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  background-color: #2c556f;
  padding: 10px 0;
}

.form-group {
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

button {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #2c556f 94%, #0000) top/3.8px 3.8px
      no-repeat,
    conic-gradient(#0000 30%, #2c556f);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 3.8px),
    #000 0
  );
  animation: spinner-c7wet2 0.8s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}
